.header {
    background: $color-primary;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    color: $white;
    text-decoration: none;
    
    h1 {
        margin: 0;
    }
}

.header__username {
    color: lighten($color-primary, 20%);
    display: inline-block;
    margin-right: 2rem;
    
    @include media(phone) {
        display: none;
    }
}