.input-group {
    display: flex;
    flex-flow: column;
    margin-bottom: $s-size;
    
    @include media(tablet) {
        flex-flow: row;
        margin-bottom: $l-size;
    }
    
    &__item:not(:last-child) {
        margin: 0 0 $s-size 0;
        
        @include media(tablet) {
            margin: 0 $s-size 0 0;
        }
    }
    
    &__item:nth-child(1) {
        flex: 2;
    }
    
    &__item:nth-child(2) {
        flex: 1;
    }
}