*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::selection {
  background-color: rgba(lighten($color-primary, 10%), .5);
  color: $off-white;
}

body {
  background: $color-tertiary;
  color: $white;
  font-family: 'Montserrat', sans-serif;
  font-size: $font-size-md;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}