// color

$off-black: #20222b;
$off-white: #f7f7f7;
$dark-gray: #333;
$gray: #666666;
$white: #fff;

$color-primary: #0A54D0;
$color-secondary: #073D98;
$color-tertiary: #17DC73;

// font sizes

$font-size-lg: 2rem;
$font-size-md: 1.6rem;
$font-size-sm: 1.4rem;

// spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;