// color

$off-black: #20222b;
$off-white: #f7f7f7;
$dark-gray: #333;
$gray: #666666;
$white: #fff;

$color-primary: #255E69;
$color-secondary: #AA8739;
$color-tertiary: #AA4339;

// brand colors

$color-google: darken($white, 5%);
$color-github: #333;
$color-facebook: #1877f2;

// font sizes

$font-size-lg: 2rem;
$font-size-md: 1.6rem;
$font-size-sm: 1.4rem;

// spacing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;